# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

frontend/node_modules
frontend/.env.local
frontend/.umirc.local.ts
frontend/config/config.local.ts
frontend/.umi
frontend/.umi-production
frontend/.umi-test
frontend/dist
frontend/.mfsu
frontend/.swc

.umi
.umi-production
.umi-test

node_modules
build
src/consts/key.mjs
yarn-error.log
