# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# 前端
packages/frontend/.env.local
packages/frontend/.umirc.local.ts
packages/frontend/config/config.local.ts
packages/frontend/.umi
packages/frontend/.umi-production
packages/frontend/.umi-test
packages/frontend/.mfsu
packages/frontend/.swc
packages/frontend/.cache
packages/frontend/dist

# 后端
packages/backend/src/consts/key.mjs
packages/backend/build


# 公共
node_modules
.umi
.umi-production

gptcommit.toml